@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin-top: 0;
    font-family: 'Montserrat', sans-serif;
    /* background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%); */
    background-color: #fff;
    text-align: center;
    color: #333333;
    font-weight: 400;
}

main {
    background-color: #fff;
    padding-top: 1rem;
}

a {
    color: #BB2A25;
}

/* =======================
            NAV
========================= */

.icon {
    height: 50%;
    margin-right: .5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    height: 3px;
    width: 24px;
    background-color: #fff;
    opacity: 1;
    transform: none;
    transition: transform .3s;
}

.icon.clicked > .bar1 {
    transform: rotateZ(45deg) translate(4px, 3px);
}
.icon.clicked > .bar2 {
    opacity: 0;
}
.icon.clicked > .bar3 {
    transform: rotateZ(-45deg) translate(6px, -5px);
}

nav {
    background-color: #BB2A25;
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    top: 0px;
    width: 100%;
    height: 2rem;
    z-index: 2;
}

.ul-wrapper {
    display: none;
    position: absolute;
    top: 11px;
    width: 100%;
    left: 0;
}

.ul-wrapper > ul.nav-ul {
    /* display: none; */
    /* position: absolute; */
    width: 100%;
    background-color: #BB2A25;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 21px;
    padding: 0;
}

ul.nav-ul > li {
    border-top: 1px solid;
    width: 100%;
    color: #fff;
    transition: background-color .1s;
}

ul.nav-ul > li:hover {
    background-color: #d83c37;
}

ul.nav-ul > li > a {
    display: inline-block;
    text-decoration: none;
    color: #ffffff;
    width: 100%;
    padding: 2%;
}

.nav-active {
    background-color: #8b1b17;
}

.nav-active:hover {
    background-color: #a73935;
}

/* ==========================
            HERO SECTION 
==============================*/

.title {
    font-weight: 500;
    font-size: 1.5rem;
    margin-top: 0;
    margin-bottom: 1rem;
}

.hero-wrapper {
    width: 80%;
    margin: 1rem auto;
}

@keyframes expand {
    0%  {
        shape-outside: polygon(60% 0, 60% 0, 40% 100%, 40% 100%);
        clip-path: polygon(60% 0, 60% 0, 40% 100%, 40% 100%);
        opacity: 0;
    }
       
    100% {
      shape-outside: polygon(10% 0, 100% 0, 90% 100%, 0 100%);
      clip-path: polygon(10% 0, 100% 0, 90% 100%, 0 100%);
      opacity: 1;
    }
  }

  .hero-image {
    width: 100%;
    shape-outside: polygon(60% 0, 60% 0, 40% 100%, 40% 100%);
    clip-path: polygon(60% 0, 60% 0, 40% 100%, 40% 100%);
    opacity: 0;
    animation: expand 1s .25s forwards;
  }

/* ======================
            SPACER
======================== */

hr {
    margin: 4rem auto;
    opacity: .3;
}

.hr {
    height: .75rem;
    width: .75rem;
    background-color: #CFCFCF;
    transform: rotateZ(45deg);
    margin: 3rem auto;
    position: relative;
}

.hr:before {
    content: "";
    position: absolute;
    left: 0;
    width: 75px;
    border-top: 1px solid #CFCFCF;
    transform: rotateZ(-45deg) translate(60px, -19px);
}

.hr:after {
    content: "";
    position: absolute;
    left: 0;
    width: 75px;
    border-top: 1px solid #CFCFCF;
    transform: rotateZ(-45deg) translate(-110px, -19px);
}


/* ==============================
        PROJECT SECTIONS 
================================*/

.project {
    opacity: 1;
    transform: translate(0px, 0px);
    transition: all .5s;
}

.hidden {
    opacity: 0;
    transform: translate(0px, -40px);
}

.strike {
    text-decoration: line-through;
}

.projects-title {
    font-size: 3rem;
    font-weight: 400;
    margin-bottom: 5rem;
    text-decoration: underline;
}

.mobile-title {
    display: initial;
}

.desktop-title {
    display: none;
}

.project-title, .about-title {
    font-size: 1.5rem;
    font-weight: 400;
}

.project-link {
    font-weight: 700;
}

.project-video {
    width: 100%;
    height: 17rem;
    margin: 1rem auto;
}

.project-video > iframe {
    width: 100%;
    height: 100%;
}

.project-image-link > img {
    width: 100%;
}

/* ====================
            FOOTER
======================== */

footer {
    padding: .1rem;
    margin-top: 7rem;
}

/* ===========================
        MEDIA QUERIES 
==============================*/
@media only screen and (min-width: 769px) {

    body {
        background-color: #CFCFCF;
    }

    /* ======================
                NAV 
    =========================*/

    nav {
        height: fit-content;
    }

    .icon {
        display: none;
    }

    .ul-wrapper {
        position: relative;
        top: 0;
        display: flex;
    }

    .ul-wrapper > ul.nav-ul {
        display: flex;
        flex-direction: row;
        margin: 0;
        font-size: 12px;
    }

    ul.nav-ul > li {
        border-right: 1px solid;
        border-top: none;
    }
    ul.nav-ul > li > a {
        padding: 3% 2%;
    }

    ul.nav-ul > li:last-child {
        border-right: none;
    }

    /* =====================
            HERO
    ===================== */
    .hero-wrapper {
        width: 35%;
        margin: 1rem auto;
    }

    /* =====================
                HR
    ====================== */
    .hr {
        margin-top: 4rem;
        margin-bottom: 4rem;
        height: .75rem;
        width: .75rem;
        background-color: #CFCFCF;
        transform: rotateZ(45deg);
        margin: 4rem auto;
        position: relative;
    }
    
    .hr:before {
        content: "";
        position: absolute;
        left: 0;
        width: 250px;
        border-top: 1px solid #CFCFCF;
        transform: rotateZ(-45deg) translate(126px, -80px);
    }
    
    .hr:after {
        content: "";
        position: absolute;
        left: 0;
        width: 250px;
        border-top: 1px solid #CFCFCF;
        transform: rotateZ(-45deg) translate(-294px, -80px);
    }

    /* ======================
                MAIN 
    =========================*/
    main {
        width: 85%;
        padding: 0 5%;
        padding-top: 5rem;
        margin: 0 auto;
    }

    /* ========================
                PROJECTS 
    ============================*/
    .project {
        width: 100%;
        height: 30rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .mobile-title {
        display: none;
    }
    
    .desktop-title {
        display: initial;
    }

    /* VIDEOS */
    .project-video {
        height: 100%;
    }

    .spacer {
        width: 10%;
    }

    .project-text {
        height: 100%;
        width: 45%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .sedition-project {
        padding-bottom: 3rem;
    }

    .project-image-link > img {
        height: 100%;
    }
}

@media only screen and (max-width: 374px) {
    .project-title {
        font-size: 1.25rem;
        font-weight: 500;
    }
}